%% -*- mode: erlang; erlang-indent-level: 4; indent-tabs-mode: nil -*-
%% -------------------------------------------------------------------
%%
%% Copyright (c) 2011-2016 Basho Technologies, Inc.
%% Copyright (c) 2022 Workday, Inc.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%% -------------------------------------------------------------------

{eunit_opts, [verbose]}.
{so_name, "eleveldb.so"}.

{plugins, [
    {eqc_rebar, {git, "https://github.com/Quviq/eqc-rebar", {branch, "master"}}},
    pc
]}.

{provider_hooks, [
    {post, [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
    ]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{port_sources, ["c_src/*.cc"]}.

{erl_opts, [
    warnings_as_errors,
    debug_info
]}.

{port_env, [
    %% Make sure to set -fPIC when compiling leveldb
    {"CFLAGS", "$CFLAGS -Wall -O3 -fPIC"},
    {"CXXFLAGS", "$CXXFLAGS -std=c++11 -Wall -O3 -fPIC"},
    {"DRV_CFLAGS", "$DRV_CFLAGS -O3 -Wall -I c_src/leveldb/include -I c_src/leveldb -I c_src/system/include"},
    {"DRV_LDFLAGS", "$DRV_LDFLAGS c_src/leveldb/libleveldb.a c_src/system/lib/libsnappy.a -lstdc++"}
]}.

{pre_hooks, [
    {'get-deps', "make -C c_src get-deps"},
    {compile, "make -C c_src compile"},
    {eunit, "make -C c_src test"}
]}.

{post_hooks, [
    {clean, "make -C c_src clean"}
]}.
