%% -*- mode: erlang; erlang-indent-level: 4; indent-tabs-mode: nil -*-
%% -------------------------------------------------------------------
%%
%% Copyright (c) 2011-2016 Basho Technologies, Inc.
%% Copyright (c) 2022-2024 Workday, Inc.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%% -------------------------------------------------------------------

%% This is an artificial constraint representing the oldest version we test.
{minimum_otp_vsn, "24.0"}.

{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

{eunit_opts, [verbose]}.

{artifacts, ["priv/eleveldb.so"]}.

{plugins, [
    {pc, {git, "https://github.com/OpenRiak/port_compiler", {branch, "openriak-3.4"}}},
    {eqc_rebar, {git, "https://github.com/Quviq/eqc-rebar", {branch, "master"}}}
  ]
}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{port_specs, [{"priv/eleveldb.so", ["c_src/*.cc"]}]}.

{port_env, [
    %% Make sure to set -fPIC when compiling leveldb
    {"CXXFLAGS", "$CXXFLAGS -std=c++11 -Wall -O3 -fPIC -I c_src/leveldb/include -I c_src/leveldb -I c_src/system/include"},
    {"LDFLAGS", "$LDFLAGS c_src/leveldb/libleveldb.a c_src/system/lib/libsnappy.a -lstdc++"}
]}.

{provider_hooks, [
    {pre, [
        {compile,   {pc, compile}}
    ]},
    {post, [
        {clean,     {pc, clean}}
    ]}
]}.
%% For the hooks above, hook '{pc, <op>}' below, instead of '<op>', to avoid
%% each one being invoked twice.
{pre_hooks, [
    {"(linux|darwin|solaris)",  'get-deps',     "make  -C c_src get-deps"},
    {"(free|net|open)bsd",      'get-deps',     "gmake -C c_src get-deps"},
    {"(linux|darwin|solaris)",  {pc, compile},  "make  -C c_src compile"},
    {"(free|net|open)bsd",      {pc, compile},  "gmake -C c_src compile"},
    {"(linux|darwin|solaris)",   eunit,         "make  -C c_src test"},
    {"(free|net|open)bsd",       eunit,         "gmake -C c_src test"}
]}.
{post_hooks, [
    {"(linux|darwin|solaris)",  {pc, clean},    "make  -C c_src distclean"},
    {"(free|net|open)bsd",      {pc, clean},    "gmake -C c_src distclean"},
    {                           {pc, clean},    "/bin/rm -f ./doc/*"}
]}.
